@import './utills.scss';
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Assistant&family=firacode:wght@100;200;300;400;500;600&display=swap');
body{
    background-image : url("../../images/background.png");
    background-size: contain;
    font-family:Assistant;
    #overlay{
        width:100%;
        height: 800px;
        background:$tc1;
        position:absolute;
        top:0;
        display: none;
    }
    .header{
        position:sticky;
        top:0;
        @include display_as_row_space_between();
        width:100%;
        background:$tc1dark;
        margin-top: 30px;
        .logo{
            @include display_as_row_center();
            font-size: 20px;
            font-weight: bold;
            padding:10px 20px;
            img{
                width:20px;
            }
            a{
                margin-left: 15px;
                text-decoration: none;
                color:$white-text;


            }
        }
        .navbar{
            nav{
                #logoutButton{
                    &:hover{
                        background:$tc2;
                    }
                }
                a{
                    text-decoration: none;
                    color:$white-text;
                    padding:16px 20px;
                    font-size: 15px;
                    font-weight: light;
                    &:hover{
                        background:$tc1;
                    }
                }
            }
        }

    }
    .hero{
        width:100%;
        padding-top: 50px;
        @include display_as_column_center();
        text-align: center;
        .welcome_para{
            color:$white-text;

            h1{
                font-family: Acme;
                text-shadow: 3px 3px 5px $black-text;
                font-size: 7vmin;
            }
            p{
                width:500px;
                font-size: 20px;
                line-height: 30px;
                // font-weight: 300;
                a{
                    color:$tc2;
                }
            }
        }
        .buttons{
            button{
                margin:15px;
                background:$tc2;
                font-size: 15px;
                color:$white-text;;
                padding:15px 50px;
                border-radius: 5px;
            }
        }
    }
    
    .message_form, .login_form, .create_account_form{
        width:600px;
        background:$tc1dark;
        position: absolute;
        top:7px;
        left : calc(50% - 300px);
        padding:25px 50px 25px 50px;
        color:$white-text;
        @include display_as_column_center();
        text-align: left;
        box-shadow: 1px 1px 20px 1px $black;
        .close_form{
            width:100%;
            align-items: flex-end;
            button{
                width:30px;
                height: 30px;
                padding:15px;
                @include display_as_column_center();
                background:$tc2;
                color:$white;
                border-radius: 50%;
                font-size: 20px;
            }
        }
        input, textarea{
            background:$tc1;
            border:0;
            outline:0;
            width:400px;
        }
        div{
            margin:5px;
            @include display_as_column();
            label{
                margin:3px;
            }
            input{
                height:30px
            }
            textarea{
                height: 300px;
            }
        }
        button{
                margin:15px;
                background:$tc2;
                font-size: 15px;
                color:$white-text;;
                padding:15px 50px;
                border-radius: 5px;
        }

    }
    .login_form{
        height:350px;
        top: calc(50% - 175px);
        display: none;

    }
    .create_account_form{
        height:450px;
        top: calc(50% - 225px);
    }
    .message_form{
        display: none;
    }
    #documentation{
        color:$black;
        font-family: Assistant;
        background:$white;
        // width:700px;
        margin: 0px auto;
        margin-top: 10rem;
        padding:2rem 3rem;
        // border-radius: 10px;
        box-shadow: 2px 2px 10px 1px $black;
        span{
            background:$light-gray;
            padding:4px;
            border-radius: 2px;
            font-weight: bold;
        }
        pre{
            width:600px;
            background:rgb(41, 40, 40);
            color:rgb(255, 233, 40);
            margin:1rem auto;
            // margin:1rem;
            padding: 20px;
            font-size:13px;
            font-weight: 100;
            border-radius: 5px;
            box-shadow:2px 2px 5px 1px $black;
            font-family: firacode;
        }
        h1{
            text-align: center;
            margin:15px;
    
        }
        p{
            margin:5px;
            
        }
    }
    #inbox{
        background:$tc1dark;
        border-top:5px solid $tc1;
        h1{
            color:$tc2;
            padding:1rem;
        }
        #messages{
            margin-left: calc(50% - 550px);
            padding-bottom: 3rem;
            section{
                width:1100px;
                border:3px solid $tc1;
                border-bottom: 0;
                &:last-child{
                    border-bottom: 3px solid $tc1;
                }
                @include display_as_row();
                p{
                    padding:0.5rem;
                    color:$light-gray;
                    @include display_as_column_center();
                    
                }
                .sender{
                    width:250px;
                    overflow:hidden;
                    border-right:3px solid $tc1;
                 
                }
                .contact{
                    width:250px;
                    border-right:3px solid $tc1;
                    
                }
                .time{
                    width: 100px;
                    border-right:3px solid $tc1;
         
                }
                .message{
                    width:500px;
                  
                }
            }
        }
    }
}


